html {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="submit"] {
    margin-top: 20px;
  }
  .stars {
    display: inline-block;
  }
  .stars input[type="radio"] {
    display: none;
  }
  .stars label {
    display: inline-block;
    cursor: pointer;
    color: grey;
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  .stars label:hover,
  .stars label:hover ~ label,
  .stars input[type="radio"]:checked ~ label {
    color: orange;
  }
  